{
  "presets": [
    [
      "@babel/preset-react",
      {
        "pragma": "dom",
        "throwIfNamespace": false
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src/",
          "@Uikit": "./src/components/Uikit"
        }
      }
    ],
    "emotion"
  ]
}
