{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    // "import/no-extraneous-dependencies": [
    //   "error",
    //   {
    //     "devDependencies": true,
    //     "optionalDependencies": false,
    //     "peerDependencies": false
    //   }
    // ],
    "sort-imports": "off",
    "import/no-unresolved": 0,
    "no-shadow": "off",
    "import/prefer-default-export": "off",
    "prettier/prettier": "error",
    "arrow-parens": "off",
    "object-curly-newline": "off"
  },
  "overrides": [
    {
      "files": ["**/*.js", "**/*.jsx"],
      "rules": {
        "local/jsx-uses-my-pragma": "error",
        "local/jsx-uses-vars": "error"
      }
    }
  ],
  "plugins": ["prettier", "local"],
  "extends": ["eslint:recommended"]
}
